.home-why-us-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f6f6f6; 
  color: #021013;
  font-family: 'Red Hat Display', sans-serif;
  padding: 50px 40px;
  padding-right: 0;
}
.home-why-us-section--content {
  display: grid;
  grid-template-columns: 3fr 3fr 1fr;
  
  /* flex-direction: row;
  align-items: flex-start;
  justify-content: space-between; */
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}


/* SECTION 1 */
.home-why-us-section--section1 {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  background: white;
  padding: 20px;
  width: 100%;
  /* max-width: 43%; */
  height: fit-content;
  position: sticky;
  bottom: 0;
  margin-top: 20px;
}
.home-why-us-section--section-ghost {
  display: none;
}
.home-why-us-section--ghost-active {
  width: 100%;
  position: sticky;
}
.home-why-us-section--active {
  top: 125px;
}
.home-why-us-section--scroll-section {
  width: 100%;
  max-width: 130px;
  background:#021013;
  color: white;
  height: auto;
}
.home-why-us-section--scroll-text {
  
}
.home-why-us-section--section2-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.home-why-us-section--subtitle {
  color: #38C1C9;
  font-size: 15px;
  margin-bottom: 20px;
}
.home-why-us-section--title {
  color: #021013;
  font-size: 40px;
  line-height: 42px;  
  font-weight: 700;
  margin-bottom: 20px;
}
.home-why-us-section--description {
  color: #021013;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}
.home-why-us-section--request-quote-button {
  display: flex;
  flex-direction: row;
  border-bottom: #02101388 1px solid;
  width: fit-content;
}


/* SECTION 2 */
.home-why-us-section--section2 {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  background: transparent;
  padding: 20px;
  width: 100%;
  gap: 25px;
}
.home-why-us-section--section2-item {
  padding: 0 50px;
  margin-bottom: 40px;
}
.home-why-us-section--section2-text {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px;
}
.home-why-us-section--section2-item-subtitle {
  font-size: 15px;
  color: #074F4B;
}
.home-why-us-section--section2-item-title {
  font-size: 30px;
  font-weight: 700;
}
.home-why-us-section--section2-item-description {
  font-size: 13px;
}
.home-why-us-section--section2-image {
  display: flex;
  border: solid 1px #38C1C9;
  height: 250px;
  width: 250px;
}
.home-why-us-section--section2-text2 {
  width: 100%;
  height: auto;
  gap: 10px;
}
.home-why-us-section--learn-more-text {
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  margin-bottom: 10px;
}
.home-why-us-section--learn-more-button {
  display: flex;
  flex-direction: row;
  border-bottom: #02101388 1px solid;
  width: fit-content;
}


/* MEDIA QUERIES */
@media screen and (max-width: 1400px) {
  .home-why-us-section--section2-image {
    height: 145px;
    width: 100%;
    max-width: 145px;
  }
  
}
@media screen and (max-width: 1025px) {
  .home-why-us-section {
    padding-right: 40px;
  }
  .home-why-us-section--content {
    display: flex;
    flex-direction: column;
  }
  .home-why-us-section--section1 {
    position: relative;
  }
  .home-why-us-section--section {
    width: 100%;
    margin-bottom: 20px;
  }
  .home-why-us-section--section2-item {
    gap: 50px;
    padding: 10px;
  }
  .home-why-us-section--section2-image {
    height: 250px;
    width: 100%;
    max-width: 330px;
  }
  .home-why-us-section--scroll-section {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .home-why-us-section--section {
    display: none;
  }
  .home-why-us-section--section2-image {
    display: none;
  }
}