.home-trusted-worldwide-section--content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* min-height: 700px; */
  height: 100%;
  width: 100%;
  font-family: 'Red Hat Display', sans-serif;
  background: #021013;
}

/* .home-trusted-worldwide-section--content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
} */
/* .home-trusted-worldwide-section--info,
.home-trusted-worldwide-section--image {
  max-width: 50%;
  width: 100%
} */
.home-trusted-worldwide-section--info {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
  max-width: 50%;
  height: 100%;
  padding: 50px;
}
.home-trusted-worldwide-section--info-subtitle {

}
.home-trusted-worldwide-section--info-title {
  font-size: 45px;
  line-height: 45px;
  margin: 10px 0 30px 0;
  font-weight: 700;
  max-width: 535px;

}
.home-trusted-worldwide-section--info-description {
  font-size: 15px;
  font-weight: 400;
  width: 100%;  
  gap: 10px;
}
.home-trusted-worldwide-section--info-button {
  margin-top: 30px;
  width: fit-content;
  border-bottom: solid 1px #ffffff7a;
  display: flex;
  flex-direction: row;
  gap: 7px;
}


.home-trusted-worldwide-section--image {
  width: 100%;
  /* max-width: 50%; */
  height: 100%;
  min-height: 685px;
  display: flex;
  align-items: center;
  background: url('../../images/men-office1.png') no-repeat center;
  background-size: cover;
  /* border: solid 1px #38C1C9; */

}
.home-trusted-worldwide-section--customer-comment {
  width: 420px;
  height: 220px;
  background: #F9F9F9;
  translate: -40px 220px;
  position: static;
  padding: 15px;
  border-right: solid 4px #38C1C9;
}
.home-trusted-worldwide-section--customer-comment-content {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #021013;
  gap: 10px;
}
.home-trusted-worldwide-section--customer-comment-text {
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  padding-right: 10px;
}


@media screen and (max-width: 1400px) {

  
}

@media screen and (max-width: 1025px) {
  .home-trusted-worldwide-section {
    height: fit-content;
  }
  .home-trusted-worldwide-section--content {
    flex-direction: column;
  }
  .home-trusted-worldwide-section--info {
    width: 100%;
    max-width: 100%;
  }
  .home-trusted-worldwide-section--customer-comment {
    width: 440px;
    translate: 450px -280px;
  }
}

@media screen and (max-width: 768px) {
  .home-trusted-worldwide-section--info {
    padding-bottom: 80px;
  }
  .home-trusted-worldwide-section--info-title {
    font-size: 30px;
    line-height: 30px;
  }
  .home-trusted-worldwide-section--info-description {
    font-size: 15px;
  }
  .home-trusted-worldwide-section--customer-comment {
    width: 315px;
    height: 220px;
    translate: 150px -275px;
  }
  .home-trusted-worldwide-section--customer-comment-text {
    font-size: 15px;
  }
}
@media screen and (max-width: 500px) {
  .home-trusted-worldwide-section--customer-comment {

    translate: 55px -280px;
  }
}