
.navigation {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 0 40px;
  font-family: 'Red Hat Display', sans-serif;
  z-index: 100;
}
.navigation--top {
  height: 100px;
  background-color: #0b1b1000;  
}
.navigation--middle {
  height: 76px;
  background-color: rgba(7, 20, 18, 0.3);
  background: rgba(2, 16, 19, 0.671);
}
.navigation--container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
.navigation--logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  padding: 0 20px;
}
.navigation--menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  align-items: center;
}
.navigation--menu-item {
  cursor: pointer;
  padding: 0 10px;
  font-size: 16px;
  max-width: 910px;
}
.navigation--menu-item:hover {
  color: #38C1C9;
}
.navigation--get-started-button {
  display: flex;
  cursor: pointer;
  padding: 12px 25px;
  background:#FFFFFF14;
}
.navigation--get-started-button:hover {
  color: #38C1C9;
}
.navigation--hamburger {
  display: none;
}


/* Hamburger menu */

.hamburger--menu {
  position: absolute;
  top: 0;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background: rgb(7, 20, 18);

}
.hamburger--menu-open {
  display: flex;
}
.hamburger--menu-closed {
  display: none;
}
.hamburger--menu--item-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 50px 40px;
}


/* Media Queries */

@media screen and (max-width: 1025px) {
  .navigation--hamburger {
    display: flex;
  }
  .navigation--menu {
    display: none;
  }
  .navigation--get-started-button {
    display: none;
  }
}